mainmenu "Test Configuration"

menuconfig RT_USING_DEBUG
    bool "Enable debugging features"
    default y

    if RT_USING_DEBUG
        config RT_DEBUGING_ASSERT
            bool "Enable assertion debugging"
            default y

        config RT_DEBUGING_COLOR
            bool "Enable color debugging log"
            default y

        config RT_DEBUGING_CONTEXT
            bool "Enable debugging of environment and context check"
            default y

        config RT_DEBUGING_AUTO_INIT
            bool "Enable debugging of components automatic initialization"
            default n

        config RT_DEBUGING_SPINLOCK
            bool "Enable spinlock debugging"
            depends on RT_USING_SMP
            default n

        config RT_DEBUGING_CRITICAL
            bool "Enable critical level tracing"
            depends on RT_USING_SMP
            default y if RT_USING_SMART
            default n
    endif

config RT_USING_SMP
    bool "Enable SMP support"
    default n

config RT_USING_SMART
    bool "Enable Smart support"
    default n